.popular{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:50px;
    margin-top:50px;
}
.text{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
}
.text p{
    font-size:30px;
    font-weight:600;
    color:rgb(63, 52, 52);
}
.text hr{
    width:200px;
    background:black;
    height:5px;
    border-radius:11px;

}
.items{
    width:1200px;
    display:flex;
    gap:20px;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;

}
